@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    body {
        @apply font-primary text-sm bg-background select-none
    }
    a {
        @apply text-dark
    }
    img {
        @apply block w-full
    }
    h1 {
        @apply font-extrabold text-3xl
    }
    h2 {
        @apply text-[1.4rem] font-bold
    }
    h3 {
        @apply text-sm  font-semibold
    }
    h4 {
        @apply text-[0.8rem]
    }
    small {
        @apply text-xs
    }
    .profile-photo {
        @apply w-12 h-12 rounded-[50%] overflow-hidden
    }
    .text-muted {
        @apply text-dark-info
    }
    p {
        @apply text-dark-variant
    }
    b {
        @apply text-dark
    }
    .links .active {
         @apply bg-light text-primary  ml-0 before:w-1.5 before:h-full before:bg-primary
    }
   .links a.active span {
    @apply text-primary ml-[calc(1rem-3px)]
   }
   .links a {
    @apply   transition-all 
   }
   .links a span {
    @apply group-hover:ml-4 transition-all duration-300
   }
   .activeMode {
    @apply bg-primary text-white rounded-md
   }
   .profilePic {
    @apply w-12 h-12 rounded-full
   }
}


svg circle {
    stroke-linecap: round;
}

.sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
} 

.expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
} 
.income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
} 

